<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>-->

  <div id="container">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-subtitle>Outubro/2024</ion-card-subtitle>
        <ion-card-title>Avaliação Formadora II</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>Página de apresentação exigida na avaliação formadora</p>
        <p>Nos botões a seguir você encontrará links para a página de API e a página contendo informações sobre a mesma.</p>
        <p><b>Feito por: Julia Rodrigues</b></p>
      </ion-card-content>
      <div class="btn">
      <ion-button fill="clear" routerLink="/pag1">API</ion-button>
      <ion-button fill="clear" routerLink="/pag2">Sobre a API</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
